<div class="page" data-ng-init="init()">
  
  	<div ng-controller="Step2Ctrl">

     	<div class="col-md-6"> 
            <!-- Contact -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Contact Information </strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled">
                                <li class="ng-binding">

                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-bell"></span>
						                    <label>Name</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="placeInfo.Name">
					                    </div>
					                </div>

                                </li>
                                <br/><br/>
                                <li>
  
                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-home"></span>
						                    <label>Address</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="placeInfo.Address">
					                    </div>
					                </div>
 
                                </li>
                                <br/><br/>
                                <li>

                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-envelope"></span>
						                    <label>Email</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="placeInfo.Email">
					                    </div>
					                </div>
  
                                </li>
                                <br/><br/>
                                <li>

                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-earphone"></span>
						                    <label>Phone</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="placeInfo.Phone">
					                    </div>
					                </div>
 
                                </li> 
                                <br/><br/>
                                <li>

                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-time"></span>
						                    <label>Hours</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="placeInfo.Hours">
					                    </div>
					                </div>
 
                                </li> 
                                <br/><br/>
                                <li>
                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-globe"></span>
						                    <label>Website</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="placeInfo.Website">
					                    </div>
					                </div>  
                                </li>
                                <br/><br/>
                                <li>
                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-send"></span>
						                    <label>Coordinates</label>
					                    </div>
					                    <div class="col-sm-9" data-ng-init="getPlaceCoordinates()">
					                        <input type="text" class="form-control input-sm" ng-model="placeInfo.Coordinates">
					                    </div>
					                </div>  
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Contact -->
    	</div>

    		<!--Description -->
    	<div class="col-md-6">
			<section class="panel panel-default">
		        <div class="panel-heading">
		            <strong><span class="glyphicon glyphicon-th"></span>
		            Description</strong>
		        </div>
		        <div class="panel-body">
		            <div class=
		            "ui-editor ng-isolate-scope ng-pristine ng-valid ta-root">
		                <div class="ng-scope ng-isolate-scope ta-toolbar btn-toolbar">
		                    
		                    <div class="btn-group">
		                        <button class="btn btn-default ng-scope fa fa-bold"
		                        name="bold" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button><button class=
		                        "btn btn-default ng-scope fa fa-italic" name="italics" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-underline" name="underline" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-list-ul" name="ul" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-list-ol" name="ol" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-repeat" name="redo" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-undo" name="undo" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-ban" name="clear" style="font-style: italic"
		                        tabindex="-1" type="button"></button>
		                    </div>

		                    <div class="btn-group">
		                        <button class=
		                        "btn btn-default ng-scope fa fa-align-left" name="justifyLeft" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button><button class=
		                        "btn btn-default ng-scope fa fa-align-center" name="justifyCenter" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button><button class=
		                        "btn btn-default ng-scope fa fa-align-right" name="justifyRight" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button>
		                    </div>
 
		                </div> 

		                <textarea class="ta-bind ta-html ta-editor form-control" ng-model="placeInfo.Description" style="resize: none;" style="height:100%">
						</textarea>
		            </div>
		        </div>
		    </section>
        </div>
    		<!--end Description -->

    		<!--Drag and Drop -->
        <div class="col-md-12" >


            <!-- Drop Files Here-->
            <section class="panel panel-default">
		        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> File upload with Drag and Drop</strong></div>
		        <div class="panel-body">
		            <div>
		                <div class="drop-box">
		                	<span>Drag and drop files here</span>
		                </div>
		            </div>
		        </div>
		    </section>
            <!-- end Drop Files Here--> 
        </div>
    		<!--end Drag and Drop -->

  	</div>

</div>