<div class="page" data-ng-init="init()">

    <div ng-controller="Step3Ctrl">

        <div class="ui-timline-container">
            <section class="ui-timeline" id="placeTimeline">
            </section>

            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-caption">
                        <a ng-click="addTimelineEvent()" class="btn btn-primary" style="position:absolute;z-index:15;left:50%;margin-left:-75px;">New Historical Event</a>
                    </div>
                </div>
            </div> 
        </div>

    </div>

</div>