<div class="page" style="overflow: auto" ng-controller="FeedbackCtrl">  
  
  <h1 class="text-center">{{main.brand}}</h1>

  <div class="panel panel-default">
      <div class="panel-heading">
        <strong><i class="fa fa-quote-left"></i> Feedback</strong>
      </div>

      <div class="panel-body">
          <form name="form_constraints" class="form-validation" validate data-ng-submit="submitForm()">
              <div class="form-group">
                  <label>Name</label>
                  <input type="text"  ng-model="author" class="form-control feedbackValidation">
                  <br>
                  <label>Email</label>
                  <input  type="text" ng-model="email" class="form-control feedbackValidation">
                  <br>
                  <label>Title</label>
                  <input  type="text" ng-model="title" class="form-control feedbackValidation">
                  <br>
                  <textarea rows="15" ng-model="feedback" class="form-control feedbackValidation" ></textarea>
              </div> 
          </form>
      </div>
  </div>  

  <div class="row pull-right"> 
    <button ng-click="ClearForm()" class="btn btn-default btn-w-md " style="margin-right:10px;">Clear</button>
    <button ng-click="SubmitFeedback()" class="btn btn-success btn-w-md" style="margin-right:13px;" >Submit</button>
  </div>

</div>
