<section class="panel panel-default">
    <div class="panel-heading">
    	<span class="fa fa-university"></span>
    		Active Historical Sites 
    </div>
    
    <div class="panel-body" style="height: 430px;">
    
      <input id="pac-input" class="controls" type="text" placeholder="Search Historical Sites">
      <div id="map-canvas" data-ng-init="init()" 
        style="width: 100%; height: 400px; position: fixed; overflow-y:hidden;">
      </div>

    </div>
</section>
<div class="page page-table" data-ng-controller="tableCtrl">

      <section class="panel panel-default table-dynamic"> 
          <div class="table-filters">
              <div class="row">
                  <div class="col-sm-4 col-xs-6">
                      <form>
                          <input type="text"
                                 placeholder="Search..."
                                 class="form-control"
                                 data-ng-model="searchKeywords"
                                 data-ng-keyup="search()">
                      </form>
                  </div>
                  <div class="col-sm-3 col-xs-6 filter-result-info">
                      <span>
                          Showing {{filteredPlaces.length}}/{{places.length}} groups
                      </span>            
                  </div> 
                  <div class="col-sm-3 col-xs-6 filter-result-info pull-right">  
                      <span>	
                      	<button type="button" class="btn btn-default btn-icon-round pull-right" style="margin-right:5px"  ng-click="initWizard()">
                      		<i class="fa fa-plus"></i>
                  		</button>
                      	<button type="button" class="btn btn-default btn-icon-round pull-right " style="margin-right:5px" ng-click="reloadTable()">
                      		<i class="fa fa-refresh"></i>
                  		</button>
                      </span>
                  </div> 
              </div>
          </div>

          <table class="table table-bordered table-striped table-responsive">
              <thead>
                  <tr>
                      <th data-ng-click=" defaultOrder('PlaceId') " data-ng-class="{active: row == 'PlaceId'}" style="cursor:pointer">
                        <div class="th">
                          <span> 
                            Place Id
                          </span>
                          <span class="fa fa-angle-up"
                                data-ng-class="{active: row == 'PlaceId'}">
                          </span>
                          <span class="fa fa-angle-down"
                                data-ng-class="{active: row == '-PlaceId'}">
                          </span>
                        </div>
                      </th>

                      <th data-ng-click=" defaultOrder('Name') " data-ng-class="{active: row == 'Name'}" style="cursor:pointer">
                        <div class="th"  >
                          <span > 
                            Place Name 
                          </span>
                          <span class="fa fa-angle-up"
                                data-ng-class="{active: row == 'Name'}">
                          </span>
                          <span class="fa fa-angle-down"
                                data-ng-class="{active: row == '-Name'}">
                          </span>
                        </div>
                      </th>

                      <th data-ng-click=" defaultOrder('Address') " data-ng-class="{active: row == 'Address'}" style="cursor:pointer">
                        <div class="th">
                          <span > 
                            Address
                          </span>
                          <span class="fa fa-angle-up"
                                data-ng-class="{active: row == 'Address'}">
                          </span>
                          <span class="fa fa-angle-down"
                                data-ng-class="{active: row == '-Address'}">
                          </span>
                        </div>
                      </th> 

                      <th data-ng-click=" defaultOrder('Phone') " data-ng-class="{active: row == 'Phone'}" style="cursor:pointer">
                        <div class="th">
                          <span > 
                            Phone
                          </span>
                          <span class="fa fa-angle-up"
                                data-ng-class="{active: row == 'Phone'}">
                          </span>
                          <span class="fa fa-angle-down"
                                data-ng-class="{active: row == '-Phone'}">
                          </span>
                        </div>
                      </th> 

                      <th data-ng-click=" defaultOrder('CreatedDate') " data-ng-class="{active: row == 'CreatedDate'}" style="cursor:pointer">
                        <div class="th">
                          <span > 
                            Created Date
                          </span>
                          <span class="fa fa-angle-up"
                                data-ng-class="{active: row == 'CreatedDate'}">
                          </span>
                          <span class="fa fa-angle-down"
                                data-ng-class="{active: row == '-CreatedDate'}">
                          </span>
                        </div>
                      </th> 

                      <th>
                        <div class="th">
                          Actions 
                        </div>
                      </th> 

                  </tr>
              </thead>

              <tbody >
                  <tr data-ng-repeat="place in currentPagePlaces">
                      <td>{{place.PlaceId}}</td>
                      <td>{{place.Name}}</td>
                      <td>{{place.Address}}</td> 
                      <td>{{place.Phone}}</td> 
                      <td>{{place.CreatedDate}}</td> 
                      <td > 
                         <a ng-click="deletePlace(place)"> 
                            <i class="fa fa-minus-square  pull-right fa-2x"  style="margin-right:15px;"></i> 
                         </a>
                         <a  ng-click="editPlace(place);"> 
                            <i class="fa fa-pencil-square pull-right fa-2x" style="margin-right:15px;"></i>  
                         </a>
                      </td> 
                  </tr>
              </tbody>

          </table>

          <footer class="table-footer">
              <div class="row">
                  <div class="col-md-6 page-num-info">
                      <span>
                          Show 
                          <select data-ng-model="numPerPage"
                                  data-ng-options="num for num in numPerPageOpt"
                                  data-ng-change="onNumPerPageChange()">
                          </select> 
                          places per page
                      </span>
                  </div>
                  <div class="col-md-6 text-right pagination-container">
                      <pagination class="pagination-sm"
                                  ng-model="currentPage"
                                  total-items="filteredPlaces.length"
                                  max-size="4"
                                  ng-change="select(currentPage)"
                                  items-per-page="numPerPage"
                                  rotate="false"
                                  previous-text="&lsaquo;" next-text="&rsaquo;"
                                  boundary-links="true">
                      </pagination>
                  </div>
              </div>
          </footer>

      </section>

  </div>
</div> 