<div class="page" data-ng-init="init()">
  
     <div class="col-md-6" > 
            <!-- Contact -->
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Contact Information </strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled">
                                <li class="ng-binding">

                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-bell"></span>
						                    <label>Name</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="serverContact.Name">
					                    </div>
					                </div>

                                </li>
                                <br/><br/>
                                <li>
  
                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-home"></span>
						                    <label>Address</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="serverContact.Address">
					                    </div>
					                </div>
 
                                </li>
                                <br/><br/>
                                <li>

                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-envelope"></span>
						                    <label>Email</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="serverContact.Email">
					                    </div>
					                </div>
  
                                </li>
                                <br/><br/>
                                <li>

                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-earphone"></span>
						                    <label>Phone</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="serverContact.Phone">
					                    </div>
					                </div>
 
                                </li> 
                                <br/><br/>
                                <li>
                                	<div class="form-group">
                                		<div class="col-sm-3">
	                                		<span class="icon glyphicon glyphicon-globe"></span>
						                    <label>Website</label>
					                    </div>
					                    <div class="col-sm-9">
					                        <input type="text" class="form-control input-sm" ng-model="serverContact.Website">
					                    </div>
					                </div>  
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Contact -->
    	</div>

    	<div class="col-md-6">
            <!-- Drop Files Here-->
            <section class="panel panel-default" style="height:330px">
		        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> File upload with Drag and Drop</strong></div>
		        <div class="panel-body">
		            <div>
		                <div class="drop-box" style="height:255px">
		                	<span>Drag and drop files here</span>
		                </div>
		            </div>
		        </div>
		    </section>
            <!-- end Drop Files Here--> 
        </div>

        <div class="col-md-12">

			<section class="panel panel-default">
		        <div class="panel-heading">
		            <strong><span class="glyphicon glyphicon-th"></span>
		            Description</strong>
		        </div>

		        <div class="panel-body">
		            <div class=
		            "ui-editor ng-isolate-scope ng-pristine ng-valid ta-root">
		                <div class="ng-scope ng-isolate-scope ta-toolbar btn-toolbar">
		                    <div class="btn-group">
		                        <button class="btn btn-default ng-scope" name="h1" tabindex="-1" type=
		                        "button">H1</button><button class=
		                        "btn btn-default ng-scope" name=
		                        "h2" tabindex="-1" type=
		                        "button">H2</button><button class=
		                        "btn btn-default ng-scope" name=
		                        "h3" tabindex="-1" type=
		                        "button">H3</button><button class=
		                        "btn btn-default ng-scope" name=
		                        "h4" tabindex="-1" type=
		                        "button">H4</button><button class=
		                        "btn btn-default ng-scope" name=
		                        "h5" tabindex="-1" type=
		                        "button">H5</button><button class=
		                        "btn btn-default ng-scope" name=
		                        "h6" tabindex="-1" type=
		                        "button">H6</button><button class=
		                        "btn btn-default ng-scope" name="p"
		                        tabindex="-1" type="button">P</button><button class=
		                        "btn btn-default ng-scope" name=
		                        "pre" tabindex="-1" type=
		                        "button">pre</button><button class=
		                        "btn btn-default ng-scope fa fa-quote-right" name="quote" style="font-style: italic"
		                        tabindex="-1" type="button"></button>
		                    </div>

		                    <div class="btn-group">
		                        <button class="btn btn-default ng-scope fa fa-bold"
		                        name="bold" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button><button class=
		                        "btn btn-default ng-scope fa fa-italic" name="italics" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-underline" name="underline" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-list-ul" name="ul" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-list-ol" name="ol" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-repeat" name="redo" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-undo" name="undo" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-ban" name="clear" style="font-style: italic"
		                        tabindex="-1" type="button"></button>
		                    </div>

		                    <div class="btn-group">
		                        <button class=
		                        "btn btn-default ng-scope fa fa-align-left" name="justifyLeft" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button><button class=
		                        "btn btn-default ng-scope fa fa-align-center" name="justifyCenter" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button><button class=
		                        "btn btn-default ng-scope fa fa-align-right" name="justifyRight" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button>
		                    </div>

		                    <div class="btn-group">
		                        <button class="btn btn-default ng-scope" name="html" tabindex="-1" type=
		                        "button">Toggle HTML</button><button class=
		                        "btn btn-default ng-scope fa fa-picture-o" name="insertImage" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button><button class=
		                        "btn btn-default ng-scope fa fa-link" name="insertLink" style="font-style: italic"
		                        tabindex="-1" type="button"></button><button class=
		                        "btn btn-default ng-scope fa fa-youtube-play" name="insertVideo" style=
		                        "font-style: italic" tabindex="-1" type=
		                        "button"></button>
		                    </div>
		                </div> 
		                <textarea class="ta-bind ta-html ta-editor form-control" ng-model="serverContact.Description">
						</textarea>
		            </div>
		        </div>
		    </section>
 
        </div>
  
</div>