<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.fiu.seniorproject.historyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- The following two permissions are not required to use
     Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk android:minSdkVersion="10" />
    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/historyapp"
        android:theme="@style/AppTheme">
        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Screen activity -->
        <activity
            android:name=".MainScreenClass"
            android:theme="@style/customTheme"
            >
        </activity>

        <!-- Map Screen activity -->
        <activity
            android:name=".SearchMapClass"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            >
        </activity>

        <!--Google API-->
        <meta-data
            android:name="com.google.android.maps.v2.AIzaSyCvdU9Z-pvQN771tdadjmvvC_Yg16X4VdY"
            android:value="AIzaSyCvdU9Z-pvQN771tdadjmvvC_Yg16X4VdY"/>
    </application>

</manifest>
