<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.senior.historyexplorer" >

    <permission
        android:name="android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="permission_name"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="20" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!--<uses-library android:name="com.google.android.maps"/>-->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/compass" >

        <!--Splash Screen-->
        <activity
            android:name="com.project.senior.historyexplorer.Activity.Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Main Screen -->
        <activity
            android:name="com.project.senior.historyexplorer.Activity.MainMenu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
        </activity>

        <!--Map Screen-->
        <activity android:name="com.project.senior.historyexplorer.Activity.MapsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Activity.PlacesNearbyActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>

        <!--Now Trending Screen-->
        <activity android:name="com.project.senior.historyexplorer.Activity.TrendingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Activity.MainMenu"
            android:label="@string/now_trending">
        </activity>

        <!--Media Screen-->
        <activity android:name=".Activity.MediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Media Page"
            android:parentActivityName=".Activity.MapsActivity">
         </activity>

        <!--Single Place Screen-->
        <activity android:name=".Activity.SinglePlaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Place Details"
            android:parentActivityName=".Activity.PlacesNearbyActivity">
        </activity>

        <!--Nearby Place Screen-->
        <activity android:name=".Activity.PlacesNearbyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Place Details"
            android:parentActivityName=".Activity.MainMenu">
        </activity>

        <!--Saved Routes Screen-->
        <activity android:name="com.project.senior.historyexplorer.Activity.SavedRoutes"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Activity.MainMenu"
            android:label="@string/saved_routes">
        </activity>

        <!--PlacesMap Screen-->
        <activity android:name="com.project.senior.historyexplorer.Activity.PlacesMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Activity.PlacesNearbyActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>


        <!--Google Maps API Information-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDlVrZiu7YPWENhc_ckczPuCs7ZQNoBzVY" />
</application>

</manifest>