<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- Stats -->
    <div class="row">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-success">
                    <i class="fa fa-eye"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">3624</p>
                    <p class="text-muted"><span data-i18n="Today's Views"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">128</p>
                    <p class="text-muted"><span data-i18n="New Users"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-warning">
                    <i class="fa fa-university"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">89</p>
                    <p class="text-muted"><span data-i18n="Places Created Today"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="btn-icon-lined btn-icon-round btn-icon-lg-alt btn-danger">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">1324</p>
                    <p class="text-muted"><span data-i18n="Sales"></span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- end stats -->

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body" data-ng-controller="flotChartCtrl">
                    <div data-flot-chart
                         data-data="line1.data"
                         data-options="line1.options"
                         style="width: 100%; height: 372px;"
                         ></div>
                </div>
            </div>              
        </div>

        <div class="col-lg-4">
 
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="fa fa-university"></span>&nbsp;&nbsp; My Historical Sites</strong></div>
                <div class="panel-body" style="width: 100%; height: 362px;">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Site Name</th>
                                <th>City</th>
                                <th>Total Views</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

    <div class="panel panel-default" data-ng-controller="flotChartCtrl">
        <div class="panel-body">
            <div data-flot-chart-realtime
                 data-type="realtime"
                 style="width: 100%; height: 350px;"
                 ></div>
        </div>
    </div>

</div>
  