<div style="overflow:hidden;position: absolute;"> 
    <map class="ui-map" zoom="15" center="[25.75812,-80.376174,17]" style="width: 100%; height: 1000px; position: fixed; overflow-y:hidden;"></map>  
</div> 

<div style="width: 50%;z-index: 10;margin: 0 auto;">
    <div class="col-md-12">
        <ul class="nav nav-boxed nav-justified"> 
            <li><a href="javascript:;"><i class="color-success fa fa-location-arrow"></i> Select Location</a></li>
            <li><a href="javascript:;"><i class="color-info fa fa-file-text"></i> Complete Description</a></li>
            <li><a href="javascript:;"><i class="color-warning fa fa-exchange"></i> Timeline</a></li> 
        </ul>
    </div>
</div>
  