
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
        
        <li>
            <a href="#/ui/maps"><i class="fa fa-university"></i><span data-i18n="Places"></span></a> 
        </li> 
        
        <li>
            <a href="#/tables"><i class="fa fa-cog"></i><span data-i18n="System Access"></span></a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-user">&nbsp;&nbsp;&nbsp;</i><span data-i18n="Users"></span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-users">&nbsp;&nbsp;</i><span data-i18n="Groups"></span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-key">&nbsp;&nbsp;</i><span data-i18n="Permissions"></span></a></li> 
            </ul>
        </li> 
        
        <li>
            <a href="#/tasks/tasks"><i class="fa fa-list"></i><span data-i18n="Tasks"></span></a> 
        </li> 

        <li>
            <a href="#/mail/inbox"><i class="fa fa-envelope"></i><span data-i18n="Mail"></span></a> 
        </li> 

    </ul>
</div>